/*Color palette*/
:root {
  --background-color: white;
  --foreground-color: rgba(226, 226, 226, 0.35);
  --text-color: black;
  --accent-color: rgb(159, 117, 232);

  --swirly-01: white;
  --swirly-02: rgb(242, 178, 227);
  --swirly-03: rgb(204, 163, 255);
  --swirly-04: rgb(172, 189, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --foreground-color: rgba(45, 45, 45, 0.35);
    --text-color: rgb(240, 240, 240);
    --accent-color: rgb(90, 20, 209);

    --swirly-01: black;
    --swirly-02: rgb(20, 0, 26);
    --swirly-03: rgb(21, 0, 46);
    --swirly-04: rgb(0, 7, 36);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: var(--background-color);
  color: var(--text-color);
  font-family: Comfortaa, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

.contentView {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 2rem);
  max-width: 55rem;
  min-height: 100vh;
  padding: 3rem 1rem;
  gap: 1rem;
}

.navigationView > .contentView {
  padding: 0 !important;
}

.navigationView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 2rem);
  max-width: 80rem;
  padding: 3rem 1rem;
  gap: 1rem;
}

.sidebarModeOnly {
  display: none;
}

.stackModeOnly {
  display: flex;
  flex-direction: column;
}

@media (min-width: 80rem) {
  .sidebarModeOnly {
    display: flex;
    flex-direction: column;
  }

  .stackModeOnly {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.25rem;
}
h1, h2, h3 {
  margin-top: 0.75rem;
  font-family: 'JetBrains Mono', monospace;
}
.profile h1 {
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;
}

ul {
  padding-inline-start: 1.25rem;
  margin: -0.25rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

svg {
  color: var(--text-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border: none;
  border-radius: 0.75rem;
  background: var(--foreground-color);
  font-family: Comfortaa, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  color: var(--text-color);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(2rem) saturate(150%);
}
button:hover:not(:disabled), .avatar:hover {
  transform: scale(1.1);
}
button:active, .avatar:active {
  transform: scale(1.05);
}
button svg {
  width: 1rem;
}
button.transparent {
  padding: 0;
}
button > ::v-deep(svg) {
  width: 1.5rem;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

input, textarea {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius:  0.25rem;
  font-family: comfortaa, system-ui, sans-serif;
  background: var(--foreground-color);
  border: none;
  color: var(--text-color);
}

.fullWidth {
  width: 100%;
}

.hidden {
  display: none !important;
}

.light {
  opacity: 0.6;
}
.transparent  {
  background: transparent;
  backdrop-filter: none;
  box-shadow: none;
}

.prominentLink {
  text-decoration: underline;
}

.spaced {
  gap: 0.5rem;
}

.autospace {
  justify-content: space-between;
}
.edgeToEdge {
  padding: 0;
}
.tight {
  gap: 0.25rem;
}

.centered {
  display: flex;
  align-items: center;
}

.bigAvatar {
  width: 4rem !important;
  height: 4rem !important;
}

@media (max-width: 35rem) {
  .card iframe {
    border-radius: 1rem;
  }

  .contentView, .navigationView {
    width: calc(100vw - 1rem);
    padding: 0.5rem;
  }
}

.scrollable {
  overflow: scroll;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.noMargins {
  margin: 0;
}
